header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.image-container {
    width: auto;
    height: auto;
    background-image: c:(\Users\abdul\Downloads\abdulahi_image.jpg);
}
.navbar-container {
    width: auto;
    background-color: tan;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.navbar {
    max-width: none;
    margin: 0;
    padding: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 5%
}

nav ul {
    padding: 10%;
    text-align: left;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    main
}