@media screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }
}
* {
    box-sizing: border-box;
}
header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
.image-container {
    width: 300%;
    height: 200%;
    background-color: gray;
}
.img-size {
    height: 600px;
    width: 300px;
}  
.navbar-container {
    width: auto;
    background-color: tan;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    border-style: solid;
}
.navbar {
    max-width: none;
    margin: 1%;
    padding: 0%;
    border-style: outset;
}
li {
    display: inline;
}
.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 1%
}
nav ul {
    padding: 10%;
    text-align: left;
    display: flex;
    justify-content: space-around;
}
p {
    font-family: 'calibri';
    font-size: 20px;
}
.section {
    background-color: khaki;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-style: solid;
}
.screenshot {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
div {
    display: block;
    margin-bottom: 10px;
}
.contact-list {
    margin-top: 10px;
}
.contact-list a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}
a:link {
    color: blue;
}
a:link, a:visited {
    display: block;
    margin-bottom: 10px;
}
a:hover, a:active {
    background-color: lightcoral;
    text-decoration: underline;
}
footer {
    background-color: tan;
    text-align: center;
}